*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ),

    url("sawah.jpg");

    background-size:cover;
    background-position:center;
}

.login-container{

    width:350px;

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 10px 25px
    rgba(0,0,0,0.2);
}

.login-container h1{
    color:#2E7D32;
    margin-bottom:10px;
}

.login-container p{
    color:#666;
    margin-bottom:25px;
}

input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ddd;

    border-radius:10px;
}

button{

    width:100%;

    padding:12px;

    border:none;

    border-radius:10px;

    background:#2E7D32;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{
    background:#1B5E20;
}

#error{
    margin-top:10px;
    color:red;
}

.password-box{

    position:relative;

    width:100%;
}

.password-box input{

    width:100%;
    padding-right:45px;
}

.toggle-password{

    position:absolute;

    right:15px;
    top:12px;

    cursor:pointer;

    user-select:none;
}

.logo{

    font-size:70px;
    margin-bottom:15px;
}

.password-box{

    position:relative;
    width:100%;
}

.password-box input{

    width:100%;
    padding-right:45px;
}

.toggle-password{

    position:absolute;

    right:15px;

    top:0;
    bottom:0;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    color:#666;

    font-size:18px;
}

.toggle-password:hover{

    color:#2E7D32;
}